imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
numba==0.60.0
numba-cuda==0.11.0
numpy==2.0.2
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.16.2
seaborn==0.13.2
